

extends layout

block content
  h3.title #{title}
  
  div.wrap
    each place, i in cottages
      div.listing
        h3=place.name 
        p=place.loc 
        p=place.price 
        p=place.sleeps
